/* Colors */
$paragraph-color: #000000;
$brand-main-color: #ff0000;
$page-main-color: #ffffff;

$element-color-1:#56819F;
$element-color-2:#F58220;
$element-color-3:#04AE00;
$element-color-4:#cfcaca;

$list-item-bg-color: #000000;
$body-bg-color: #F5F5F2;


$header-color: #979797;
$link-color: #56819F;
$hover-color: #FFA200;
$hover-menu-color: #464242;
$hover-table-color: #E3E3E3;

/* Font sizes */
$paragraph-font-size: 16px;

/* Fonts */
$brand-font: 'Damion', cursive;
$paragraph-font: "Open Sans", Helvetica, Arial;