form {
  width: 100%;
  text-align: center;
}

.field {
  margin: 0 auto;
}

form input[type="text"] {
  height: 40px;
  width: 100%;
  padding: 10px 10px;
  font-size: 14px;
  border: 1px solid $element-color-4;
  border-radius: 4px;
  color: $paragraph-color;
  outline: none;
}

.form-label {
  font-family: $paragraph-font;
  color: $header-color;
  font-size: 16px;
  padding: 10px;
  font-weight: 700;
}
